<!DOCTYPE html>
<meta charset="utf-8">
<title>Tiny World</title>
<link rel="stylesheet" href="lib/normalize.css">
<link rel="stylesheet" href="lib/deprecator.css">
<link rel="stylesheet/less" href="styles.less">
<script src="lib/jquery.js"></script>
<script src="lib/crafty.js"></script>
<script src="lib/coffeescript.js"></script>
<script src="lib/less.js"></script>
<script src="lib/underscore.js"></script>
<script src="lib/jqModal.js"></script>
<script src="lib/browser_deprecator.js"></script>
<script src="util.js"></script>
<script type="text/coffeescript" src="game/main.coffee"></script>
<script type="text/coffeescript" src="on_ready.coffee"></script>
<div id="cr-stage"></div>
<img id="logo" src="art/logo.png" alt="Tiny World">
<div id="dialog"></div>
<div id="store"></div>
<script id="dialog-tmpl" type="text/html">
  <img id="who" src="<%= icon %>">
  <p id="text"><%= text %></p>
  <button id="confirm">Confirm</button>
</script>
