@blue: #ace;
@width: 550px;

body {
  width: @width;
  margin: 0 auto;
}

h1 {
  color: darken(@blue, 30%);
  margin: 0.4em 0; 
}

#cr-stage {
  border: 1px solid @blue;
}

#controls {
  padding: 10px 0;
}
