@import "lib/preboot";

@blue: #ace;

html, body {
  overflow:hidden;
}

h1 {
  color: darken(@blue, 30%);
  margin: 0.4em 0; 
}

#cr-stage {
  background: #222 url('art/stars.png');
}

#sidebar {
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  background: rgba(15,10,30, 0.6);
  border-left: 1px solid #334;
  color: #999;
  padding: 0 15px;
  .box-shadow(-5px 0 15px rgba(0,0,0,.8));
}
